@use "./typography" as *;

$typeface-primary: "Roboto";

$primary-background-color: #a659e9;
$primary-text-color: #6512ae;
$secondary-background-color: #cfb1e9;
$primary-cta-color: #f8c704;
$primary-hover-cta-color: #9e7f03;
$alternate-color: #fff;
