@use "./typography" as *;

$typeface-primary: "Roboto Condensed";
$roboto: font-family "Roboto Condensed", sans-serif;

$alternate-bg-color: #d9d2e1;
$primary-background-color: #a659e9;
$primary-text-color: #6512ae;
$secondary-background-color: #cfb1e9;
$primary-cta-color: #1a2957;
$primary-hover-cta-color: #060506;
$alternate-color: #fff;
$secondary-text-color: #f8c704;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Alternative colors
$pink-hex: #d9559d;
$blue-hex: #2561d9;
$lightblue-hex: #0d9fd9;
$yellow-hex: #f2b90c;
$orange-hex: #f26241;
$green-hex: #62b666;
$white-hex: #fcf9f1;
$font-hex: #421b38;
