@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba($white-hex, 1);

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 10rem;
    background-color: rgb($font-hex, 0.7);
    // by adding width and same height you turn it into a circle
    width: 12rem;
    height: 12rem;
    padding: 2rem 1.5rem;
    border-radius: 50%;
    line-height: 0.9rem;
    animation: bounceIn 5s ease-out;
    background-color: $blue-hex;
    // background: radial-gradient(
    //     circle,
    //     rgba($alternate-bg-color, 0.3) 10%,
    //     transparent 40%
    //   ),
    //   conic-gradient(
    //     from 180deg at 50% 50%,
    //     $blue-hex 0%,
    //     $alternate-bg-color 20%,
    //     $pink-hex 40%,
    //     $orange-hex 60%,
    //     $yellow-hex 80%,
    //     $green-hex 95%,
    //     $blue-hex 100%
    //   );

    @include tablet-breakpoint {
      padding: 2.5rem 2rem;
      margin-top: 6rem;
      line-height: 1.2rem;
    }

    &-title {
      margin-top: 15%;
      font-size: 2.5rem;
      color: $white-hex;

      @include tablet-breakpoint {
        font-size: 3.5rem;
      }
    }

    &-subtitle {
      font-size: 1.5rem;
      display: flex;
      justify-content: flex-end;
      color: $secondary-text-color;

      @include tablet-breakpoint {
        font-size: 1rem;
      }
    }
  }

  &__text {
    border: 3px solid transparent;
    border-radius: 20px;
    border-image-source: conic-gradient(
      from 180deg at 50% 50%,
      $blue-hex 0%,
      $alternate-bg-color 20%,
      $pink-hex 40%,
      $orange-hex 60%,
      $yellow-hex 80%,
      $green-hex 95%,
      $blue-hex 100%
    );
    border-image-slice: 1;
    font-family: "Lora", serif;
    height: 35%;
    width: 60%;
    border-radius: 20px;
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
    color: $font-hex;
    text-align: center;
    padding: 40px;

    @include tablet-breakpoint {
      font-size: 1rem;
    }
  }

  &__button {
    font-family: "Roboto Condensed", sans-serif;
    @include button-style($alternate-color, $yellow-hex, $orange-hex);
    margin-bottom: 10rem;

    @include tablet-breakpoint {
      margin-bottom: 6rem;
    }
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
